{%extends 'all-photo/base.html'%}
{% block content %}
{{block.super}}

<div class="container">

        <!-- Looping through news   -->
  {% for post in images%}
      
        <div class="row">
          <!-- displaying Photos -->
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2 class="text-center"> {{ photo_item.title }} </h2>
          </div>
      
          <!--Display news Article images  -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="{{post.image.url}}" class="img-responsive" alt="Image">
        <h1>display</h1>
        </div>
  {% endfor %}

      </div>
      


{% endblock %}
